.submitFormBlock{
    width:100%;
    height:100vh;
    background-color:white;
    overflow: auto;
}
.formheader{
    background-color: white;
    height: 10vh;
    border-bottom: rgb(240, 243, 243);
    overflow: auto;
}

.headingForm{
    text-align: center;
    cursor: pointer;
    color: rgb(124, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 40px;
}
.backIcon{
    font-size: 30px;
    margin-left: 5%;
    margin-top: 1%;
    color: rgb(13, 13, 13);
}
.cropSubmitForm{
    width:60%;
    margin:auto;
    background-color: whitesmoke;
    padding: 1rem;
}
.submitLink{
    text-decoration: none;
    color: white;
    
}